<section class="navbar">
  <div class="nav">
    <span class="navbutton"><a href="#/">BACK</a></span>
    <span class="navbutton" id="submit-all"><a>SUBMIT</a></span>
  </div>
</section>
<section class="content">
  <h1>Create New Event</h1>
  <br>
  <div id="left clearfix">
    <form class="nav">
      <h2>Event Code</h2>
      <input type="text" id="event-code"><br>
      <br>
      <h2>Event Name</h2>
      <input type="text" id="event-name"><br>
      <br>
      <h2>Start Date</h2>
      <script>
         angular.module('dateInputExample', [])
           .controller('DateController', ['$scope', function($scope) {
             $scope.example = {
               value: new Date(2015, 9, 10)
             };
           }]);
      </script>
      <form name="myForm" ng-controller="DateController as dateCtrl">
         <input type="date" name="input" ng-model="example.value"
             placeholder="example.value" min="example.value" max="2050-12-31" required />
         <div role="alert">
           <span class="error" ng-show="myForm.input.$error.required">
               Required!</span>
           <span class="error" ng-show="myForm.input.$error.date">
               Not a valid date!</span>
          </div>
<!--       <input type="text" id="calendar">
      <div id="upload">
         <button dropzone="dropzoneConfig">Upload mosaic image</button> -->
      </div>
    </form>
  </div>
</section>
