<style>
  .content {
    overflow: hidden;
  }
</style>
<section class="create-content">
  <div id="left clearfix">
    <form class="nav" name="myForm">
      <input type="text" name="eventCode" id="event-code" placeholder="#" ng-model="eventCode" required>
      <div class="form-error" ng-show="myForm.eventCode.$error.required">*event code required</div>
      <br>
      <br>
      <input type="text" name="eventName" id="event-name" placeholder="Enter event name..." ng-model="eventName" required>
      <div class="form-error" ng-show="myForm.eventName.$error.required">*please name your event</div> 
      <br>
      <br>
      <input type="date" name="eventDate" ng-model="eventDate" required />
      <div class="form-error" ng-show="myForm.eventDate.$error.required">*events need a start date</div> 
      <br>
      <br>
      <div class="photoUpload" dropzone="dropzoneConfig">Click to add image</div>
      <!-- <div class="form-error" ng-hide="photoLoaded">*upload an image to start with</div> -->
      <br>
      <br>
      <!-- <div class="nav"> -->
      <div class="navbutton" id="submit-all" ng-click="createEvent()">Create Event</div>
      <!-- </div> -->
    </form>
  </div>
</section>
