<!--<section class="topbar">
  <div class="logo"></div>
  <div id="username">Howdy, {{ userProfile.name }}</div>
</section> -->
<section class="navbar">
    <form class="nav">
      <input type="text" placeholder="Event Code..." ng-model="eventCode">
      <input type="button" id="join" value="Join">
      <!-- <input type="button" id="create" value="Create" ng-click="createEvent()"> -->
      <a href="#/create">Events here</a>
      <div id="error-message" ng-show="noEventCode">Enter an event code.</div>
    </form>
</section>
<section class="content">
  <!-- <div class="created-events"> -->
    <h1>Created Events</h1>
    <ul>
      <li class="event" ng-click="goToExisitingEvent(event.eventCode)" ng-repeat="event in userEvents.events">
        <div>
          <img src="{{ event.mainImage.imgPath }}">
        </div>
      <!--   <div>
          {{event.name}}
        </div> -->
        <div>
          #{{event.eventCode}}
        </div>
        <hr>
      </li>
    </ul>
  <!-- <div class="joined-events"> -->
    <h1>Joined Events</h1>
  <!-- </div> -->
</section>
<!-- <section class="sidebar">
  <div class="account">
    <a href="">Logout</a><br>
    <hr>
    <a href="">Settings</a>
    <hr>
  </div>
</section>