<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/working.css">
  <title>Events</title>
</head>
<body>
  <section class="topbar">
    <div class="logo"></div>
  </section>
  <section class="navbar">
    <div class="event-nav">
      <form class="nav">
        <input type="text" value="#">
        <input type="submit" id="join" value="JOIN">
        <input type="submit" id="create" value="CREATE">
      </form>
    </div>
  </section>
  <div class="content">
  </div>
  <section class="sidebar">
    <div class="account">
      <a href="#">Logout</a><br>
      <a href="#">Settings</a>
    </div>
  </section>
  
</body>
</html>