<div class="loading" aria-hidden="true" ng-show="{{!loaded}}">
  <div class="spinner"></div>
</div>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <header class="inner cover logo-large">
        <h1 class="cover-heading">Tessellate</h1>
      </header>
      <main>
        <a href="/auth/facebook">
          <img class="facebookLogin" src="img/fb_login.png" role="button" />
        </a>
      </main>
      <footer class="mastfoot">
        <div class="inner">
          <small>&copy; Tessellate 2015</small>
        </div>
      </footer>
    </div>
  </div>
</div>


<!-- <header id="top" class="header">
    <div class="text-vertical-center">
      <img id="logo" src="./assets/tessellate_logo.png">
      <br>
      <a href="/auth/facebook">
      <img class="facebookLogin" src="./assets/fb_login_button_v2.png" />
      </a>
    </div>
</header>
<div id="copy-name">&copy;2015 Tessellate</div> -->


<!--<script>

/*
  Jimmy, remove this script and replace the loading div with:

  <div class="loading" aria-hidden="true" ng-show="{{!loaded}}">
    <div class="spinner"></div>
  </div>

 */
window.addEventListener('load', function () {
  var spinner = document.querySelector('.loading');
  spinner.parentNode.removeChild(spinner);
});

</script>-->