<header id="top" class="header">
  <div class="text-vertical-center">
    <!-- image for logo -->
    <!-- <img id="logo" src="./assets/tessellate_logo.png"> -->
    <!-- login button -->
    <!-- <div><img src="./assets/fb_login_button_v2.png"></div> -->
 <!--    <div>
  <form method="GET" action="/auth/facebook">
    <input type="submit" name="facebook" value="Login With Facebook">
  </form> 
 </div> -->
    <div><img src="./assets/fb_login_button_v2.png" ng-click="loginUser()"></div>
  </div>
</header>
<div id="copy-name">&copy;2015 Tessellate</div>