<header id="top" class="header">
  <div class="text-vertical-center">
    <!-- image for logo -->
    <!-- <img id="logo" src="./assets/tessellate_logo.png"> -->
    <!-- login button -->
    <!-- <div><img src="./assets/fb_login_button_v2.png"></div> -->
    <img id="logo" src="./assets/tessellate_logo.png">
    <div><img src="./assets/fb_login_button_v2.png" ng-click="loginUser()"></div>
    <div><a href="#/events">Go to events view</a></div>
  </div>
</header>
<div id="copy-name">&copy;2015 Tessellate</div>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <header id="top" class="header">
    <div class="text-vertical-center">
      <img id="logo" src="./assets/tessellate_logo.png">
      <div><img src="./assets/fb_login_button_v2.png"></div>
    </div>
  </header>
  <div id="copy-name">&copy;2015 Tessellate</div>
  
</body>
</html> -->