<div class="navbar navbar-inverse navbar-static-top">
  <header class="container-fluid logo">
    <a href="/" class="navbar-brand"><h1>Tessellate</h1></a>
  </header>
</div>

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 main-content">

        <div class="row">


          <h1>{{eventCode}}</h1> 
          <!-- <h1>Hello {{waitingForUpload}}</h1> -->
          <!-- <pre>{{waitingForUpload}}</pre> -->
          <!-- <div ng-show="waitingForUpload">show me hide me</div> -->
          <div class="photoUpload" dropzone="dropzoneConfig">Click to add image</div>   
            <!-- <div class="spinner" ng-show="waitingForUpload"></div> -->
          <div class="thumbnail">
            <svg id="mosaic"></svg>
          </div>

        
        </div><!-- row -->

      </div><!-- end 9 column -->
      <div class="col-sm-3 aside">
        <ul>
          <li><a href="#/events">Event</a></li>
          <li><a ng-click="logout()">Logout</a></li>
        </ul>
      </div><!-- end 3 column -->

    </div><!-- end row -->

  </div><!-- end container-fluid -->

</main>

<footer class="tessellate-footer">
  <div class="inner">
    <small>&copy; Tessellate 2015</small>
  </div>
</footer>





































<!-- 
<section class="topbar">
  <div class="logo"></div>
</section>
<section class="content">
    <div class="photoUpload" dropzone="dropzoneConfig">Click to add image</div>
    <svg id="mosaic"></svg>
</section>
<section class="sidebar">
    <div class="account">
      <a href="#/events">Events</a><br>
      <hr>
      <a href="#/create">Create</a>
      <hr>
      <a href="#/" ng-click="logout()">Logout</a>
      <hr>
    </div>
</section> -->
