<h1>{{ thingy}}</h1>
  <svg id="mainSVG" height="250" width="850">
    <image x="mainImg.width" y="mainImg.height" xlink:href="mainImg.path" />
    <!-- <image x="0" y="0" width="850" height="250" xlink:href="mainpath" /> -->
  </svg>
<!--   // <script src="http://ariutta.github.io/svg-pan-zoom/dist/svg-pan-zoom.min.js"></script>
  // <script>
  //     window.zoomView = svgPanZoom('#mainSVG', {
  //       zoomEnabled: false,
  //       controlIconsEnabled: true,
  //       fit: true,
  //       center: true,
  //     });
  // </script> -->