<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
  <!-- <head> -->
    <!-- Required meta tags always come first -->
    <!-- <meta charset="utf-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <meta http-equiv="x-ua-compatible" content="ie=edge"> -->

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css"> -->

    <!-- temp styles and scripts - to be moved to grunt -->
    <!-- <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css"> -->

    <!-- <link rel="stylesheet" href="css/tessellate.css"> -->

  <!-- </head> -->
  <!-- <body> -->

    <div class="navbar navbar-inverse navbar-static-top">
      <header class="container-fluid logo">
        <a href="/" class="navbar-brand"><h1>Tessellate</h1></a>
      </header>
    </div>

    <main>
      <div class="container-fluid">
  
        <div class="row">

          <div class="col-sm-9 main-content">

            <!-- Join or create form -->
            <div class="row event-form">
              <h1>Create or join event</h1>
              <form class="form-inline">
                <div class="form-group">
                  <label class="sr-only"></label>
                  <div class="input-group">
                    <div class="input-group-addon">#</div>
                    <input type="text" class="form-control" placeholder="event-code">
                  </div>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createEvent">Create event</button>
              </form>
            </div>
            <!-- end of join create form -->

            <!-- create event Modal form -->
            <div class="modal fade" id="createEvent" tabindex="-1" role="dialog" aria-labelledby="createEventLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="createEventLabel">Create event</h4>
                  </div>
                  <div class="modal-body">
                    <form action="">
                      <div class="form-group has-error">
                        <label for="event-code">Event code</label>
                        <input type="text" name="eventCode" id="event-code" placeholder="#" ng-model="eventCode" required>
                        <div class="form-error" ng-show="myForm.eventCode.$error.required">*event code required</div>
                      </div>
                      <div class="form-group has-error">
                        <label for="event-name">Event name</label>
                        <input type="text" name="eventName" id="event-name" placeholder="Enter event name..." ng-model="eventName" required>
                        <div class="form-error" ng-show="myForm.eventName.$error.required">*please name your event</div> 
                      </div>
                      <div class="form-group has-error">
                        <input type="date" name="eventDate" ng-model="eventDate" required />
                        <div class="form-error" ng-show="myForm.eventDate.$error.required">*events need a start date</div>
                      </div>
                      <div class="form-group">
                        <div class="photoUpload" dropzone="dropzoneConfig">Click to add image</div>
                      </div>
                      <div class="form-group">
                        <div class="navbutton" id="submit-all" ng-click="createEvent()">Create Event</div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of create event Modal -->

            <!-- created events -->
            <div class="row">
              <h1>Created events</h1>
              <div class="col-sm-3">
                <a href="mosaic.html">
                  <div class="thumbnail">
                    <img src="http://res.cloudinary.com/tesselate/image/upload/c_scale,w_250/v1442199156/jju1x7tixa0b5tyhgeta.jpg" alt="...">
                    <div class="caption">
                      <h3 class="pull-left">My event</h3>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-sm-3">
                <a href="mosaic.html">
                  <div class="thumbnail">
                    <img src="http://res.cloudinary.com/tesselate/image/upload/c_scale,w_250/v1442199156/jju1x7tixa0b5tyhgeta.jpg" alt="...">
                    <div class="caption">
                      <h3 class="pull-left">My event</h3>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-sm-3">
                <a href="mosaic.html">
                  <div class="thumbnail">
                    <img src="http://res.cloudinary.com/tesselate/image/upload/c_scale,w_250/v1442199156/jju1x7tixa0b5tyhgeta.jpg" alt="...">
                    <div class="caption">
                      <h3 class="pull-left">My event</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- end of created events -->

            <!-- joined event -->
            <div class="row">
              <h1>Joined events</h1>
              <div class="col-sm-3">
                <a href="mosaic.html">
                  <div class="thumbnail">
                    <img src="http://res.cloudinary.com/tesselate/image/upload/c_scale,w_250/v1442199156/jju1x7tixa0b5tyhgeta.jpg" alt="...">
                    <div class="caption">
                      <h3 class="pull-left">My event</h3>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-sm-3">
                <a href="mosaic.html">
                  <div class="thumbnail">
                    <img src="http://res.cloudinary.com/tesselate/image/upload/c_scale,w_250/v1442199156/jju1x7tixa0b5tyhgeta.jpg" alt="...">
                    <div class="caption">
                      <h3 class="pull-left">My event</h3>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-sm-3">
                <a href="mosaic.html">
                  <div class="thumbnail">
                    <img src="http://res.cloudinary.com/tesselate/image/upload/c_scale,w_250/v1442199156/jju1x7tixa0b5tyhgeta.jpg" alt="...">
                    <div class="caption">
                      <h3 class="pull-left">My event</h3>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-sm-3">
                <a href="mosaic.html">
                  <div class="thumbnail">
                    <img src="http://res.cloudinary.com/tesselate/image/upload/c_scale,w_250/v1442199156/jju1x7tixa0b5tyhgeta.jpg" alt="...">
                    <div class="caption">
                      <h3 class="pull-left">My event</h3>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-sm-3">
                <a href="mosaic.html">
                  <div class="thumbnail">
                    <img src="http://res.cloudinary.com/tesselate/image/upload/c_scale,w_250/v1442199156/jju1x7tixa0b5tyhgeta.jpg" alt="...">
                    <div class="caption">
                      <h3 class="pull-left">My event</h3>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-sm-3">
                <a href="mosaic.html">
                  <div class="thumbnail">
                    <img src="http://res.cloudinary.com/tesselate/image/upload/c_scale,w_250/v1442199156/jju1x7tixa0b5tyhgeta.jpg" alt="...">
                    <div class="caption">
                      <h3 class="pull-left">My event</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- end joined event -->
          </div><!-- end 9 column -->
          <div class="col-sm-3 aside">
            <ul>
              <li><a href="">Link 1</a></li>
              <li><a href="">Link 1</a></li>
              <li><a href="">Link 1</a></li>
            </ul>
          </div><!-- end 3 column -->

        </div><!-- end row -->

      </div><!-- end container-fluid -->

    </main>

    <footer class="tessellate-footer">
      <div class="inner">
        <small>&copy; Tessellate 2015</small>
      </div>
    </footer>


    <!-- jQuery first, then Bootstrap JS. -->
    <!-- // <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
    <!-- // <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script> -->
    <!-- // <script src="bower_components/jquery/jquery.js"></script> -->
    <!-- // <script src="bower_components/angular/angular.min.js"></script> -->
    <!-- // <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script> -->

  <!-- </body> -->
<!-- </html> -->